langchain
langchain_groq
faiss-cpu
tiktoken
langchain_community
chromadb
sentence_transformers
pypdf
python-dotenv
pandas
numpy
python-docx
docx2txt
unstructured[docs]
openpyxl
jq
matplotlib
#Embeddings
langchain_huggingface
sentence_transformers
vectorstores
rank_bm25
langchain-experimental
gradio
wikipedia